<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">
 <servlet>
 <servlet-name>Registration</servlet-name>
 <servlet-class>com.example.web.Registration</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Registration</servlet-name>
 <url-pattern>/Registration.do</url-pattern>
 </servlet-mapping>
 
 
  <servlet>
 <servlet-name>Page</servlet-name>
 <servlet-class>com.example.web.Page</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Page</servlet-name>
 <url-pattern>/Page.do</url-pattern>
 </servlet-mapping>

   <servlet>
 <servlet-name>Set</servlet-name>
 <servlet-class>com.example.web.Set</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Set</servlet-name>
 <url-pattern>/Set.do</url-pattern>
 </servlet-mapping>
 
</web-app>